<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">

		<a class="navbar-brand" th:href="@{/}">DEMO</a>
		
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                <!-- Configuración -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownConfiguracion" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuración</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownConfiguracion">
                        <a class="dropdown-item" th:href="@{/pais/list}">ABM País</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/provincia/list}">ABM Provincia</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/departamento/list}">ABM Departamento</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/localidad/list}">ABM Localidad</a>
                    </div>
                </li>
				
				<!-- Empresa -->
				<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" href="#" id="dropdownABMEmpresa" role="button"
				       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa</a>
				    <div class="dropdown-menu" aria-labelledby="dropdownABMEmpresa">
				       <a class="dropdown-item" th:href="@{/empresa/list}">ABM Empresa</a>
				       <div class="dropdown-divider"></div>
				       <a class="dropdown-item" th:href="@{/sucursal/list}">ABM Sucursal</a>
				    </div>
				 </li>

            </ul>
        </div>
    </div>
</nav>