<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${titleList}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<header th:insert="~{components/menubody :: menu-principal}"></header>

<main role="main" class="container mt-3">
    <h3 th:text="${titleList}"></h3>
    <a class="btn btn-primary mb-3" th:href="@{'/' + ${nameEntityLower} + '/alta'}">Nueva Persona</a>

    <div th:if="${msgExito}" class="alert alert-success" th:text="${msgExito}"></div>
    <div th:if="${msgError}" class="alert alert-danger" th:text="${msgError}"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td>
                <a th:href="@{'/' + ${nameEntityLower} + '/consultar/' + ${item.id}}" class="btn btn-sm btn-success">Ver</a>
                <a th:href="@{'/' + ${nameEntityLower} + '/modificar/' + ${item.id}}" class="btn btn-sm btn-warning">Editar</a>
                <a th:href="@{'/' + ${nameEntityLower} + '/baja/' + ${item.id}}" class="btn btn-sm btn-danger confirmar">Eliminar</a>
            </td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.numeroDocumento}"></td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:insert="~{components/footer :: footer}"></footer>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
